body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    /* Remova a propriedade background-image aqui */
}


.background {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    /* Adicione a imagem de fundo com o mesmo caminho da sua imagem original */
    background-image: url('./images/fundo.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
   
}

/*teste*/
.card-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 3vw;
    /* Ajustado para 120% */
}

.card {
    width: 293px;
    height: 540px;
    /* Ajustado para 120% */
    margin: 1.3vw;
    cursor: pointer;
    border-radius: 5px;
    overflow: hidden;
    transition: transform 0.3s ease-in-out;
    background-color: rgba(0, 0, 0, 0);
    /* Cor de fundo das cartas, ajuste conforme necessário */
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.front,
.back {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.front {
    display: none;
    background-size: contain;
    background-position: center;
}



.card.flipped {
    transform: rotateY(180deg);
}

.button-container {
    text-align: center;
    margin-top: 3vw;
    /* Ajustado para 120% */
}

button {
    background: linear-gradient(to bottom, #000000, #110e0e);
    /* Degrade preto para o botão */
    color: rgb(240, 239, 238);
    padding: 1.2vw 2.4vw;
    /* Ajustado para 120% */
    font-size: 1.2vw;
    /* Ajustado para 120% */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s ease-in-out;
}

button:hover {
    background: linear-gradient(to bottom, #1c1c1c, #383838);
    /* Efeito hover */
}

@media (max-width: 600px) {

    /* Ajustes para telas menores */
    .card-container {
        flex-direction: column;
        align-items: center;
    }

    button {
        margin-top: 3vw;
        /* Ajustado para 120% */
    }
}

.card .front {
    background-size: cover;
    background-position: center;
    transform: scaleX(-1);
    /* Corrige o efeito espelhado */
}
