body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.background {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    background-image: url('./images/fundo.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
}

.card-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 3vw;
}

.card {
    width: 293px;
    height: 540px;
    margin: 1.3vw;
    cursor: pointer;
    border-radius: 5px;
    overflow: hidden;
    transition: transform 0.3s ease-in-out;
    background-color: rgba(0, 0, 0, 0);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    perspective: 1000px;
}

.front,
.back {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.front {
    display: none;
    background-size: contain;
    background-position: center;
}

.card.flipped {
    transform: rotateY(180deg);
}

.button-container {
    text-align: center;
    margin-top: 3vw;
}

button {
    background: linear-gradient(to bottom, #000000, #110e0e);
    color: rgb(240, 239, 238);
    padding: 1.2vw 2.4vw;
    font-size: 1.2vw;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s ease-in-out;
}

button:hover {
    background: linear-gradient(to bottom, #1c1c1c, #383838);
}

@media (max-width: 600px) {
    .card-container {
        flex-direction: column;
        align-items: center;
    }

    button {
        margin-top: 3vw;
    }
}

.card .front {
    background-size: cover;
    background-position: center;
    transform: scaleX(-1);
}
/* Estilo para o player de áudio no rodapé */
.audio-player {
    position: fixed;
    bottom: 0;
    right: 0;
    background-color: #ffffff;
    /* Fundo branco */
    border-radius: 10px;
    /* Bordas arredondadas */
    padding: 10px;
    /* Espaçamento interno */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    /* Sombra */
    display: flex;
    align-items: center;
    width: 100px;
    /* Largura do player, ajuste conforme necessário */
}

/* Estilo para o áudio dentro do player */
.audio-player audio {
    width: 100%;
    border-radius: 5px;
    /* Bordas arredondadas para o áudio */
    background-color: #ffffff;
    /* Cor de fundo do player */
}

/* Estilo para o player de áudio no rodapé */
.audio-player {
    position: fixed;
    bottom: 0;
    right: 0;
    background-color: #ffffff;
    /* Fundo branco */
    border-radius: 10px;
    /* Bordas arredondadas */
    padding: 5px;
    /* Espaçamento interno reduzido */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    /* Sombra */
    display: flex;
    align-items: center;
    width: 150px;
    /* Largura do player reduzida, ajuste conforme necessário */
}

/* Estilo para o áudio dentro do player */
.audio-player audio {
    width: 100%;
    border-radius: 5px;
    /* Bordas arredondadas para o áudio */
    background-color: #ffffff;
    /* Cor de fundo do player */
}

/* Estilo para o player de áudio no rodapé */
.audio-player {
    position: fixed;
    bottom: 20px;
    /* Adicione algum valor para definir a distância do rodapé */
    right: 8px;
    /* Afasta o player da lateral em 8px */

    /* Fundo branco */
    border-radius: 10px;
    /* Bordas arredondadas */
    padding: 5px;
    /* Espaçamento interno reduzido */
    box-shadow: 0 0 10px rgba(226, 217, 217, 0.801);
    /* Sombra */
    display: flex;
    align-items: center;
    width: 100px;
    /* Largura do player reduzida, ajuste conforme necessário */
}

/* Estilo para o áudio dentro do player */
.audio-player audio {
    width: 100%;
    border-radius: 9px;
    /* Bordas arredondadas para o áudio */
    background-color: #ffffff;
    /* Cor de fundo do player */
}

/* Estilo para os controles do áudio */
.audio-player audio::-webkit-media-controls {
    background-color: #000000;
    /* Controles pretos */
    border-radius: 2px;
    /* Bordas arredondadas para os controles */
}

/* Cor do texto dentro do player */
.audio-player audio::-webkit-media-controls-enclosure {
    color: #ffffff;
    /* Cor do texto nos controles */
}

/* Cor do tempo no controle de progresso */
.audio-player audio::-webkit-media-controls-current-time-display,
.audio-player audio::-webkit-media-controls-time-remaining-display {
    color: #ffffff;
    /* Cor do tempo nos controles */
}

/* Cor do indicador de volume */
.audio-player audio::-webkit-media-controls-volume-slider-thumb {
    background-color: #000000;
    /* Cor do indicador de volume */
}

/* Cor da barra de progresso de volume */
.audio-player audio::-webkit-media-controls-volume-slider {
    background-color: #ffffff;
    /* Cor de fundo da barra de progresso de volume */
}

.pendrive {
    position: fixed;
    bottom: 0px;
    left: 60px;
    z-index: 1;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 

.pendrive img {
    width: 30vh;
    height: 24vh;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    
}
}
footer {
    margin-top: auto;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    /* Adiciona uma sombra ao texto do footer */
    color: rgb(255, 255, 255);
    padding: 10px;
    text-align: center;
    text-shadow: 0 3px 6px rgba(10, 10, 10, 0.993);
}
.google-ads-container {
    position: fixed;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    z-index: 2; /* Ajuste conforme necessário */
}
